{% extends 'project1/base.html' %}
{% load staticfiles %}
{% block main_content %}
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>人民</h3>
                  <p>最夯詞組</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-stalker"></i>
                </div>
                <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <!-- Main row -->
          <div class="jumbotron" style="background:lavender;"> 
             <div class="page-header">
                <h1 style="font-size:35px">熱門關鍵字</h1> 
              </div>  
              <p>還在怕自己lag,沒跟上朋友的節奏嗎?</p>
              <p>關鍵字一把抓,告訴你top10-top28熱門詞組</p>
              <p>最近有什麼新消息?透過關鍵字來推敲大家關注的內容</p>
              <p>可點選top10-top28的按鈕,圓圈的大小代表關鍵字的熱門程度,看清楚了嗎?不要再lag囉!</p>
             </div>     
          <div class="panel panel-info animation-element slide-left">
              <div class="panel-heading">請選擇排名</div>
              <div class="panel-body">
                  <div class="radio radio-info radio-inline">
                  <input type="radio" id="top10" value="option1" name="radioInline" checked="">
                  <label for="top10"> TOP10 </label>
                  </div>
                  <div class="radio radio-info radio-inline">
                      <input type="radio" id="top15" value="option1" name="radioInline">
                      <label for="top15"> TOP15 </label>
                  </div>
                  <div class="radio radio-info radio-inline">
                      <input type="radio" id="top20" value="option1" name="radioInline">
                      <label for="top20"> TOP20 </label>
                  </div>
                  <div class="radio radio-info radio-inline">
                      <input type="radio" id="top28" value="option1" name="radioInline">
                      <label for="top28"> TOP28 </label>
                  </div>
                </div>
          </div>
          <div class="row">
             <section class="col-lg-12 connectedSortable" >
               <div class="box box-primary animation-element slide-right">
                  <div class="box-header" id="canvascontainer">
                  <i class="glyphicon glyphicon-fire"></i>
                  <h3 class="box-title">
                   熱門關鍵字
                  </h3>
                    </div>
                      <canvas id='canvas' width='1000px' height='600px' style="margin-left:10px"></canvas>
                </div>
          </section>
         </div>
         <div class="row">
           <div class="col-md-12">
             <div id="bubblechart" style="min-width: 280px; height: 500px;"></div>
           </div>
         </div>
{% endblock main_content %}         
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{% static 'js/project1/datavisual.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/project1/dv_response.js' %}"></script>
    <script src="{% static 'js/project1/dv_canvas.js' %}"></script>
    <script>
       $(function(){ 
         scrolling();

       });
    </script>
{% endblock extra_js %}    

