/* adjust the bg size by using css3 cover */
html { 
  background: url("../snow85.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  margin:0;
}
.container{
  position:absolute;
}
/* container--ph, svg--responsive for IE */
.container--ph { 
  position: relative;
  width: 60%;
  height: 0;
  margin: 0 auto;
  padding-top: 48%;
}
.svg--responsive {
  position: absolute;
  top: 0;
  left: 0;
}
#word {
  position: relative; 
  z-index:1;
  color:black;
  /*font: 700 normal 4em/1.5 'Montserrat',sans-serif;*/
  font-size:45px;
  /*text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3, 5px 10px #288ce3, 6px 12px #288ce3, 7px 14px #288ce3, 8px 16px #288ce3, 9px 18px #288ce3, 10px 20px #288ce3;*/
  text-shadow: 5px 5px 10px gray;
  width:355px;
  word-wrap: break-word;

}
line { 
  stroke: black; 
  stroke-width: .06; 
}

@keyframes fadein {
     0%  {opacity:0;}
    90%  {opacity:0.1;}
    100% {opacity:1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0%   {opacity:0;}
    90%  {opacity:0.1;}
    100% {opacity:1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0%   {opacity:0;}
    90%  {opacity:0.1;}
    100% {opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
     0%  {opacity:0;}
    90%  {opacity:0.1;}
    100% {opacity:1;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
     0%  {opacity:0;}
    75%  {opacity:0.2;}
    100% {opacity:1;}
} 

#project1::before,#project2::before,#resume::before{
  content:"â„";
  font-size:50px;
  color:lightblue;
}
#project1,#project2,#resume{
  position: absolute; 
  /*display: none;*/
  font-size: 30px;
  font-weight: bold;
  z-index: 3; 
  cursor:pointer;
  background: -webkit-linear-gradient(top, white, #265095);
  background: linear-gradient(top, white, #265095);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  animation: fadein 0.5s;
}


