{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sharon's collection</title>
   <link rel="stylesheet" href="{% static 'cssv2/style_no_animation.css' %}">    
</head>
<body>
<div class="container">
	  <div id="word">Sharon's Collection</div>
</div>
<div class="container2">
    <div id="project1"><a href="project">Project1</a></div>
	  <div id="project2">Project2</div>
	  <div id="resume"><a href="resume">Resume</a></div>
</div>
<div class="container--ph">
<svg xmlns="http://www.w3.org/2000/svg" 
     xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
     id="svgtree" viewbox="0 0 400 320" class="svg--responsive"> 

  <defs id="defs">
    <g id="stem"> <line x1="0" y1="0" x2="0" y2="-1"/> </g>
    <g id="0"><use xlink:href="#stem"/></g>
  </defs> 
  <g transform="translate(100, 320) scale(60)">
    <use id="15deg" xlink:href=""/> </g>

  <g transform="translate(200, 200) scale(60)">
    <use id="25deg" xlink:href=""/> </g>

  <g transform="translate(300, 320) scale(60)">
    <use id="35deg" xlink:href=""/> </g>
</svg>
</div>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{% static 'jsv2/index_no_animation.js' %}" type="text/javascript"></script>
<script>
$(function() {
   drawtree(15);
   drawtree(25);
   drawtree(35);
   layout();
   $(window).resize( function(){ 
        layout();
   });   
   $.cookie("flag","visited",{ path: '/' })
});

</script>
	
</body>
</html>