{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sharon's collection</title>
   <link rel="stylesheet" href="{% static 'cssv2/style.css' %}">    
</head>
<body>
<img src="#" id="snowbg">
<div class="container">
	  <div id="word" style="border:1px solid green"></div>
</div>
<div class="container2">
    <div id="project1" style="border:1px solid orange"><a href="project">Project1</a></div>
	  <div id="project2">Project2</div>
	  <div id="resume"><a href="resume">Resume</a></div>
</div>
<div class="container--ph">
<svg xmlns="http://www.w3.org/2000/svg" 
     xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
     id="svgtree" viewbox="0 0 400 320" class="svg--responsive"> 

  <defs id="defs">
    <g id="stem"> <line x1="0" y1="0" x2="0" y2="-1"/> </g>
    <g id="0"><use xlink:href="#stem"/></g>
  </defs>
 

  <g transform="translate(100, 320) scale(60)">
    <use id="15deg" xlink:href=""/> </g>

  <g transform="translate(200, 200) scale(60)">
    <use id="25deg" xlink:href=""/> </g>

  <g transform="translate(300, 320) scale(60)">
    <use id="35deg" xlink:href=""/> </g>
</svg>
</div>
<div class="container3">
	<div id='snowflake'>❄</div>
	<div id='snowflake2'>❄</div>
	<div id='snowflake3'>❄</div>
  <div id='transition_snowflake'>❄</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script>

function layout(){
	var screenwidth = $(window).width(),
	    screenheight = $(window).height(),
	    ratio = (screenwidth)/screenheight,
	    svgcontainerwidth = $("svg").width(),
	    svgcontainerheight = $("svg").height(),
	    wordwidth = $("#word").width(),
	    limitation= svgcontainerwidth/2+wordwidth,
	    p1width = $("#project1").width(),
	    p2width = $("#project2").width(),
	    rwidth = $("#resume").width(),
	    p1height = $("#project1").height(),
	    p2height = $("#project2").height(),
      snowwidth= $("#snowflake").width(); 
	   
	    
	    // background image setting, width & height==full version
	    $('#snowbg').attr("src","{% static 'snow.jpg' %}")
	    $("#snowbg").css("width",screenwidth)
	    $("#snowbg").css("height",screenheight)

	    //adjust the width of word for avoiding words to overlap with the svgtree
        if (ratio > 1){
        	if (limitation > svgcontainerwidth){
	        	wordwidth = 272.2,
		    	$("#word").css("width","272.2px")
		    	$("#word").css("font-size","35px")
	        }
	    }
	    containerposition_w = (screenwidth-svgcontainerwidth)/2+(svgcontainerwidth-wordwidth)/2;
	    containerposition_h = svgcontainerheight*3.2/4;
	    $(".container").css("margin-left", containerposition_w);
	    $(".container").css("margin-top",containerposition_h);
	    $("#project1").css("margin-left", (screenwidth-svgcontainerwidth)/2+svgcontainerwidth/4+snowwidth/2-p1width);
	    $("#project1").css("margin-top",svgcontainerheight*3/8-p1height); 
	    $("#project2").css("margin-left", (screenwidth-svgcontainerwidth)/2+svgcontainerwidth*3/4+snowwidth/2-p2width); 
	    $("#project2").css("margin-top",svgcontainerheight*3/8-p2height); 
	    $("#resume").css("margin-left", (screenwidth-svgcontainerwidth)/2+svgcontainerwidth/2+snowwidth/2-rwidth); 
	    $("#resume").css("margin-top",svgcontainerheight*3.7/4); 
	    //$("#snowflake,#snowflake3").css("margin-top",-300);
	    //$("#snowflake2").css("margin-top",-150);
	    $("#snowflake,#snowflake2").css("margin-top",svgcontainerheight*3/8-p1height*2.5); 
	    $("#snowflake3").css("margin-top",svgcontainerheight*3.2/4);
	    $("#snowflake").css("margin-left",(screenwidth-svgcontainerwidth)/2+svgcontainerwidth/4-p1width);
	    $("#snowflake2").css("margin-left",(screenwidth-svgcontainerwidth)/2+svgcontainerwidth*3/4-p2width);
	    $("#snowflake3").css("margin-left",(screenwidth-svgcontainerwidth)/2+svgcontainerwidth*3/4-rwidth*3);

        

        console.log(ratio)
	    // ratio>1, svg margin-top:0, adjust for mobile devices == put the svg on the center of screen 
	    if (ratio<1){	    	
	    	$(".container--ph").css("width","100%")    	
	    	svgcontainerwidth = $("svg").width(); 
	    	svgcontainerheight = $("svg").height();  	
	    	var mobileheight = (screenheight-svgcontainerheight)/2; 	    	    
	    	containerposition_h = mobileheight + svgcontainerheight*3.2/4;
	    	$("svg").css("margin-top",mobileheight);
	    	$(".container").css("margin-top",containerposition_h);
		    $("#project1").css("margin-top",svgcontainerheight*3/8-p1height+mobileheight); 		 
		    $("#project2").css("margin-top",svgcontainerheight*3/8-p2height+mobileheight); 		 
		    $("#resume").css("margin-top",svgcontainerheight*3.8/4+mobileheight); 
        	    	
	    }
};

 
//layout();
var xlinkns = "http://www.w3.org/1999/xlink";
// makes SVG object <type>
function SVG(type){
   return document.createElementNS('http://www.w3.org/2000/svg', type);
}

function makeTree(depth, angle, gId) {
  
   var defs   	= document.getElementById("defs");
   var prevId 	= '';
   var id     	= '';

    for (var i = 1; i <= depth; i++){
    	prevId = (i-1) + '_' + gId;
    	id =     i + '_' + gId;

	    var g = SVG("g");
	    	g.setAttributeNS(null, "id", id);
	    	defs.appendChild(g);
	    	//console.log(id)
	    
	    
	    var use1 = SVG("use");
	    	use1.setAttributeNS(xlinkns, "xlink:href", "#"+ prevId);
	    	use1.setAttributeNS(null, "transform", "translate(0, -1) rotate(-"+ angle +") scale(.7)");
	    	//console.log(angle,prevId)

	    var use2 = SVG("use");
	    	use2.setAttributeNS(xlinkns, "xlink:href", "#"+ prevId);
	    	use2.setAttributeNS(null, "transform","translate (0, -1) rotate(+"+ angle +") scale(.7)");

	    var use3 = SVG("use");
	    	use3.setAttributeNS(xlinkns, "xlink:href", "#stem");
	   
	    g.appendChild(use1);
	    g.appendChild(use2);
	    g.appendChild(use3);
	}
}

function growTree(depth, uId){
    var i = 0;
    var id = ''
    var intervalId = window.setInterval( function(){ 	
    	id = i == 0 ? i : i + '_' + uId
 		document.getElementById(uId).setAttributeNS(xlinkns, "xlink:href", "#"+id);
 	 	if (++i > depth) clearInterval(intervalId)
    }, 120);
}

/*function getIDs(angles){
	var IDs = []
	for (var i in angles)
		IDs.push(angles[i]+'deg')
	return IDs
}*/

function drawtree(angleid) {
	var angles=[25],
	    IDs=[angleid+'deg']; 
	//var angles = [angle];
	//var IDs	   = getIDs(angles);
	var depth  = 9;

	for (var i in angles){
		makeTree(depth, angles[i], IDs[i]);
		growTree(depth, IDs[i]);
	}
}; 

// typing text 
var
  words = ["Hi,I am Sharon","I studied brain and language at NTU","I did many experiments","I taught myself to code","Welcome to see my colletion","Sharon's collection"],
  part,
  i = 0,
  offset = 0,
  len = words.length,
  forwards = true,
  skip_count = 0,
  skip_delay = 5,
  speed = 65;

var workflick=setInterval(function(){type()},speed);   
function type(){
     if (forwards) {
        if(offset >= words[i].length){
          ++skip_count;
          if (skip_count == skip_delay) {
            forwards = false;
            skip_count = 0;
          }
        }
      }
      else {
         if(offset == 0){
            forwards = true;
            i++;
            offset = 0;
            if(i==2){
              drawtree(15);
              $("#snowflake").css("display","block");
            }else if (i==4){
              drawtree(25)
               $("#snowflake2").css("display","block");
            }else if(i==5){
              drawtree(35) 
              $("#snowflake3").css("display","block");               
            }else{
              	
            }
         }
      }
      part = words[i].substr(0, offset);
      if (skip_count == 0) {
        if (forwards) {
          offset++;
          //console.log(offset)
        }
        else {
          if (i==len-1){
          	clearInterval(workflick)
          }
          offset--;
        }
      }
    	$('#word').text(part);
}; 
 /*$('a').click(function(e) {
   e.preventDefault();
   newLocation = this.href;
   $('body').fadeOut(300, newpage);
   });
  function newpage() {
   window.location = newLocation;
  }*/

$(function() {
   drawtree(15);
   drawtree(25);
   drawtree(35);

   layout();
   $(window).resize( function(){ 
        layout();
   });
});

</script>
	
</body>
</html>